body{
    background-color: beige;
}

h1 {
    color: skyblue;
    transition: color 0.3s ease-in-out;
    /* transition : 변화를 자연스럽게 주기 
    color라는 property가 변할 때, duration 0.3s를 갖는다.
    ease-in-out은 시작과 끝을 느리게 만듦.*/
}

.clicked {
    color: tomato;
}

.sexy-font {
    font-family:'Courier New', Courier, monospace;
}